<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{.host}}/static/gamren/css/mdb.dark.min.css">
    <link rel="stylesheet" href="{{.host}}/static/gamren/css/style.css">
    <title>GAMREN</title>
</head>

<body>
    <div class="header bg-light py-3 shadow">
        <div class="container box-wrapper d-flex align-items-center">
            Terms and Conditions
            <a href="{{.host}}/gamren" class="link d-inline-block ms-auto">Back</a>
        </div>
    </div>
    <div class="container box-wrapper my-3">
        <div class="card small border">
            <div class="card-body">
                <ol>
                    <li>
                        <p class="fw-bold mb-2"> Entry method</p>
                        <p>Once you have entered your GAMREN subscription, you will receive an SMS with a link to be
                            able to access the content. Follow the instructions to play the content of your choice.</p>
                    </li>
                    <li>
                        <p class="fw-bold mb-2"> The Responsibility</p>
                        <p>2.1. The Promoter and its managing company's liability is limited to the amount of the
                            Subscription Fee actually paid.</p>

                        <p>2.2. We will not be liable for any loss or damage that could not have been reasonably
                            foreseen at the inception of the Agreement, or for any loss or damage to data or system
                            equipment,</p>
                    </li>
                    <li>
                        <p class="fw-bold mb-2"> Email and Mobile Marketing Terms and Conditions:</p>
                        <p>By giving us your mobile phone number and/or email address, you agree that GAMREN and its
                            managing company may send you an email or text message, informing you of the latest offers
                            and promotions available from our group. If at any point you would like to be removed from
                            any of your email/text broadcasts, you will have a link in each email that says
                            "unsubscribe".</p>
                    </li>
                    <li>
                        <p class="fw-bold mb-2"> Waiver</p>
                        <p>GAMREN reserves the right to assign and accept these terms and conditions, in whole or in
                            part, at any time without notice. The user may not assign any of his rights or obligations
                            arising from his acceptance and acceptance of these terms and conditions.</p>
                    </li>
                    <li>
                        <p class="fw-bold mb-2"> Changes to these terms and conditions</p>
                        <p>We aim to meet high standards and therefore our policies and procedures are constantly under
                            review. From time to time, we may update our terms and conditions and privacy policies to
                            improve user experience and comply with legal and regulatory obligations. Accordingly, we
                            recommend that you review these pages periodically to review our current policies.</p>
                    </li>
                    <li>
                        <p class="fw-bold mb-2"> Brands / Logos / Images</p>
                        <p>Trademarks, service marks, and logos (including but not limited to individual product and
                            retailer names) are the property of their respective owners. The trademarks/logos/images
                            used in this advertisement have not been participated in or reviewed in any way by nor
                            authorized by the owners of this advertisement.</p>
                    </li>

                </ol>
            </div>
        </div>
    </div>
</body>

</html>